// Specific CSS for your home-page

* {

}


body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 170px !important;
  &::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: image-url('background/background-01.png');
    background-size: cover;
    background-position: top center;
    opacity: 0.5;
    z-index: -5;
  }
}
// img {
//   opacity: 0.1;
// }

.row {
  background-color: white;
  border-radius: 4px;
  box-shadow: 3px 2px #c77c0dd9;
}

.purchase {
  padding: 8px;
  color: #0904f5;
  text-decoration: none;
  background-color: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.card-info{
  max-width: 100%;
}

