
<div class="container">
  <div class="card">
    <h1>Empresa</h1>
    <div class="card-info d-flex justify-content-center">
      <div class="photo-card">
       <%= image_tag("products/amendoin.png") %>
      </div>
      <div class="text-card">
        <p>Somos uma empresa familiar mineira amantes da alta culinaria de pestiscos chiques artesanais, produzimos com amor cada grão para manter aquele tão famoso gostinho mineiro</p>
      </div>
    </div>
  </div>

  <div class="card">
    <h1>Produtos</h1>
    <div class="card-info d-flex justify-content-center">
      <div class="photo-card">
       <%= image_tag("products/amendoin.png") %>
      </div>
      <div class="text-card">
        <p>Somos uma empresa familiar mineira amantes da alta culinaria de pestiscos chiques artesanais, produzimos com amor cada grão para manter aquele tão famoso gostinho mineiro</p>
      </div>
    </div>
  </div>

  <div class="card">
    <h1>Orçamento</h1>
    <div class="card-info d-flex justify-content-center">
      <div class="photo-card">
       <%= image_tag("products/amendoin.png") %>
      </div>
      <div class="text-card">
        <p>Somos uma empresa familiar mineira amantes da alta culinaria de pestiscos chiques artesanais, produzimos com amor cada grão para manter aquele tão famoso gostinho mineiro</p>
      </div>
    </div>
  </div>

  <div class="card">
    <h1>Onde encontrar</h1>
    <div class="card-info d-flex justify-content-center">
      <div class="photo-card">
       <%= image_tag("products/amendoin.png") %>
      </div>
      <div class="text-card">
        <p>Somos uma empresa familiar mineira amantes da alta culinaria de pestiscos chiques artesanais, produzimos com amor cada grão para manter aquele tão famoso gostinho mineiro</p>
      </div>
    </div>
  </div>
</div>
