.photo-card {
  background-color: orange;
  display: flex;
  justify-content: flex-end;
}

.image {
  height: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;

}


.text-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
