#nav-container {
  margin-top: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

#logo {
  width: 120px;
  position: absolute;
  top: -30px;
  transform: translateX(-50%);
}

#mob-logo {
  width: 51px;
  position: absolute;
  top: 3px;
  transform: translateX(50%);
  right: 90%;
}

.navbar {
  background-color: #7f3535;
  margin-left: 48px;
  margin-right: 48px;
  border-radius: 24px;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
  justify-content: space-around;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

#navbar-links a {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

.nav-item .nav-link {
  color: white;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    /* border-color: rgba(0, 0, 0, 0.1); */
}

.nav_menu {
  font-size: 24px;
  display: flex;
  flex-grow: 1;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}



// .navbar-lewagon {
//   justify-content: space-between;
//   background: #7f3535;
//   margin-top: 50px;
//   position: fixed;
//   width: 100%;
//   top: 0;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

// .navbar-brand {

// }
